body {
	background-image: url('http://31.media.tumblr.com/f6c67ec2821a91051e4175f8a102e1e2/tumblr_n6rzpcsMk41st5lhmo1_1280.jpg');
	background-size: cover;
	background-position: center;
}

#main {
	background-color:rgba(47, 79, 44, 0.5);
	padding:1rem;
	margin:1rem;
	max-width: 1000px;
	margin: 0 auto;
	vertical-align: middle;
}

#second {
	color:white;
	font-family: 'Abel', sans-serif;
	font-size:8rem;
	text-align: center;
}

#third {
	color:white;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 4rem;
}

/*
margins


*/